  * {
  box-sizing: border-box;
}

body {
  margin:0
}

html {
  scroll-behavior: smooth;
}

.origami-hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('../images/tets.png') center top / cover no-repeat;
  color: #F4DEA1;
  overflow: hidden;
  text-align: center;
  font-family: 'Inria Serif', serif;
}

.hero-text {
  position: absolute;
  top: 53%;              
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text .date {
  color: #F0E5DD;
  font-size: 11px;
  letter-spacing: 1.1px;
  margin-bottom: 5px;
}

.hero-text .subheading {
  font-size: 24px;
  color: #F4DEA1;
  margin: 12px 0 8px;
}

.hero-text .title {
  font-size: 64px;
  color: #BA4430;
  margin: 0px 0 15px;
}

.hero-text .cta {
  font-size: 15px;
  color: #F4DEA1;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.hero-text .cta a {
  color: #F4DEA1;
  text-decoration: none;
  letter-spacing: 1.5px;
  cursor: pointer;
  position: relative;
}

.hero-text .cta a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: #F4DEA1;
  transition: width 0.3s ease;
}

.hero-text .cta a:hover::after {
  width: 100%;
}

.origami-history {
  position: relative;
  width: 100vw;
  aspect-ratio: 1820 / 2500; 
  background: url('../images/second-page.png') center top / contain no-repeat;
  background-color: #EFE5DD;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.history-text {
  position: absolute;
  top: 23%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32vw; 
  color: #EFE5DD;
  text-align: left;
  line-height: 1.6;
  font-size: 15px;
  font-family: 'Inria Serif', serif;
}
.history-text h3 {
  color: #EFE5DD;
  font-size: 13px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.tradition-text {
  position: absolute; 
  top: 55%; 
  left: 12%;
  width: 80%;
  color: #0d0d0d;
  font-family: 'Inria Serif', serif;
  z-index: 5; 
}


.tradition-text .description {
  width: 40%;
  font-size: 15px;
  line-height: 1.6;
  color: #1b1b1b;
  position: absolute;
  left: 0;
  top: 15px;
}


.tradition-text .titles {
  position: absolute;
  right: 0;
  top: -90px;
  text-align: right;
  width: 100%;
}

.tradition-text .titles h2 {
  font-size: 40px;
  font-weight: 400;
  color: #1b1b1b;
  border-bottom: 2px solid #1b1b1b;
  display: inline-block;
  margin-bottom: 18px;
}
